/* General Reset and Box-Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login container styling */
.login-container {
    text-align: center;
    padding: 20px;
}

/* Form wrapper styling */
.form-wrapper {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
}

/* Form styling */
.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputForm {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    
}

.inputForm input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
}

.button-submit {
    background-color: #151717;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
}

.button-submit:hover {
    background-color: #252727;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;    font-weight: bold;
}

.p {
    font-size: 0.9rem;
}

.line {
    font-size: 0.8rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.span {
    color: #0073e6;
    cursor: pointer;
}

.google {
    background-color: #4285f4;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.google:hover {
    background-color: #357ae8;
}
